.teams_wrapper {
  background: #3CB9FF;
  @apply w-[100%]
    /* max-w-[737px] */
    min-h-[165px]
    flex
    flex-col
    items-center
    /* justify-center */
    p-[30px]
    rounded-[12px]
    xl:mr-[0]
    relative
    z-[1]
    xxl:max-w-none;
}

.teams_wrapper::before {
  content: "";
  background: linear-gradient(180deg, #182430 0%, rgba(45, 58, 71, 0.7) 100%);
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  border-radius: 12px;
  @apply absolute
    left-[1.5px]
    top-[1.5px];
}

.teams_wrapper:nth-child(even) {
  @apply mr-[0];
}

.teams_wrapper .teams {
  @apply w-[100%]
    flex
    flex-col
    items-start
    justify-start
    relative
    z-[2]
    h-full;
}

.teams_wrapper .teams .title {
  @apply w-[100%]
    flex
    items-center
    justify-start
    mb-[20px];
}

.teams_wrapper .teams .title h3 {
  @apply font-[600]
    text-[24px]
    text-[#ffffff];
}

.teams_wrapper .teams .items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 60px;
  @apply w-full
    overflow-y-auto
    h-full;
}

@media (max-width: 639px) {
  .teams_wrapper .teams .items {
    grid-row-gap: 30px;
  }
}

.teams_wrapper .teams .items .item {
  @apply flex
    /* w-[154px] */
    /* mr-[58px]
    my-[10px] */
    items-center
    justify-start
    leading-[28.32px]
    /* h-[27px] */
    text-[#ffffff]
    font-[300]
    text-[20px]
    whitespace-nowrap;
}
/* }
@media screen and (max-width: 1570px) {
    .teams_wrapper{
      @apply
      max-w-[630px]
    }
    .teams_wrapper .teams .items {
        @apply
        w-full
    }
} */
.teams_wrapper .teams .items .item p {
  @apply w-fit
  mr-[10px]

    /* overflow-hidden
    overflow-ellipsis */;
}

.teams_wrapper .teams .items .item span {
  color: #9b9b9b;
  font-size: 16px;
  line-height: 185%;
}

/* .teams_wrapper .teams .items .item:nth-child(3n) {
    @apply
    sm:mr-[0]
} */

.teams_wrapper .teams .items .item::before {
  content: "";
  @apply w-[37px]
    h-[37px]
    min-w-[37px]
    mr-[10px]
    bg-[#d9d9d9]
    rounded-full;
}
.teams_wrapper .teams .items .empty {
  @apply flex
    items-center
    justify-start
    gap-[5px]
    /* w-[120px] */
    h-[37px]
    /* my-[10px]
    mr-[53px] */;
}
.teams_wrapper .teams .items .empty::after {
  content: "";
  @apply w-[100%]
    /* max-w-[144px] */
    h-[37px]
    border-b-[1px]
    border-b-[#ffffff]
    border-dotted
    mb-[30px];
}
.teams_wrapper .teams .items .empty::before {
  content: "";
  @apply w-[47px]
    h-[37px]
    min-w-[8px]
    mr-[10px]
    bg-[#d9d9d9]
    rounded-full;
}

@media screen and (max-width: 640px) {
  .teams_wrapper {
    @apply w-full
        /* min-w-[250px] */
        h-[450px]
        /* mr-[28px] */
        justify-start;
  }
  .teams_wrapper:last-child {
    @apply !mr-[0];
  }
  .teams_wrapper .teams .items {
    @apply flex
        flex-col
        items-start
        justify-start
        overflow-y-auto;
  }
  .teams_wrapper .teams .items .item {
    @apply text-[16px]
        justify-start
        /* my-[0]
        mb-[2px] */;
  }
  .teams_wrapper .teams .items .empty {
    @apply h-[27px];
  }
  .teams_wrapper .teams .items .empty::before {
    display: none;
  }
  .teams_wrapper:nth-child(even) {
    @apply mr-[28px];
  }
  .teams_wrapper .teams .items .item::before {
    display: none;
  }
}
